<%= form_for(@experience) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.text_field :title, :placeholder => "What did you experience?" %>
  </div>
  <div class="field">
    <%= f.text_field :moral, :placeholder => "What did you learn during this experience?" %>
  </div>
  <div class="actions">
    <%= f.submit "Create Experience", class: "btn btn-large btn-primary" %>
  </div>
<% end %>
