<% provide(:title, @experience.title) %>

<div class="row">
  <div class="span9">
    <section>
      <h1><%= @experience.title %></h1>
    </section>

    <section>
      <% @experience.chapters.each do |chapter | %>

        <!-- cheesy 80's style anchor links just for something to be there for the Table of Contents -->
        <h3><a id="<%= chapter.id %>"><%= chapter.title %></a></h3>
        <%= simple_format(chapter.body) %>

      <% end %>

    </section>
    <% if signed_in? %>
    <%= render partial: 'chapters/form' %>
    <% end %>
  </div>
  <div class="span3">
    <section>
      <h2>
        <%= gravatar_for @experience.user %>
        <%= @experience.user.name %>
      </h2>
    </section>

    <% if @experience.chapters.any? %>
      <h3>Table of Contents</h3>
      <ol class="chapters">
        <% @experience.chapter_list.each do |chapter| %>
          <li><%= link_to chapter.title, experience_path(@experience.id, :anchor => chapter.id) %></li>
        <% end %>
      </ol>
    <% end %>
  </div>
</div>

