<%= form_for(@chapter) do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :body %><br />
    <%= f.text_area :body %>
  </div>
  <%= hidden_field_tag 'experience_id', @chapter.experience_id %>
  <div class="actions">
    <%= f.submit "Add Chapter", class: "btn btn-large btn-primary" %>
  </div>
<% end %>